# --- Common junk ---
__pycache__/
.ipynb_checkpoints/
.DS_Store
Thumbs.db
.env
# ----Do not commit ----
home-credit-default-risk/*
!home-credit-default-risk/README.md
AGENTS.md
Project 1.pdf
.cursor
Project_1.ipynb
cleaned_dataset/*
!cleaned_dataset/README.md
.claude